<%- include('../partials/header') %>

<h1><%= title %> </h1>
<h3>Located in the city of <%= city %>.</h3>
<button class="course-edit-btn">Edit Course Info</button>
<br>
<h4 id="reviews-list-header">Course Reviews:</h4>
    <br>
    <% course.reviews.forEach(function(r) { %> 
    <p><%= r.text %> </p>
    <% if(r.user.toString() == user._id.toString()) { %> 
    <a class="details" href="/courses/<%= course._id %>/reviews/<%= r._id %>">Edit</a>
    <% } %> 
    <br><br>
    <% }); %> 
    <h4>Write Your Own Review:</h4>
        <br>
        <form action="/courses/<%= course._id %>/reviews " method="POST">
            <textarea type="text" name="text" class="new-review"></textarea>
            <br><br>
            <button type="submit" class="submit-btn">Add Review</button>
        </form>


<%- include('../partials/footer') %>